<div class="flex justify-center " style="font-family: 'Quicksand', sans-serif">
   <div class="relative mx-[150px] my-[100px] w-full border rounded-3xl">
      <!-- Vertical Line 'Left' -->
      <div class="absolute left-[350px] w-px h-full bg-gray-200"></div>
      <div class="p-6 flex">
        <div class="relative w-24 h-24">
          <img [src]="selectedImage || 'assets/default-avatar.png'" alt="" class="w-20 h-20 rounded-full border border-gray-100 object-cover">
          <label for="imageUpload" class="absolute bottom-2 right-4 border border-[#F98125] text-[#F98125] rounded-full w-6 h-6 flex items-center justify-center cursor-pointer hover:bg-[#f98125] hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
            </svg>
          </label>
          <input id="imageUpload" type="file" (change)="onImageSelected($event)" accept="image/png, image/jpg, image/jpeg" class="hidden">
        </div>

        <div class="flex-col">
            <h3 class="font-semibold">{{ firstName }} {{ lastName }}</h3>
            <p class="text-gray-500 text-sm">{{ nickname }}</p> 
            
            <div class="flex items-center space-x-2 text-sm mt-4 border p-1 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 384 512">
                    <path d="M64 464c-8.8 0-16-7.2-16-16L48 64c0-8.8 7.2-16 16-16l160 0 0 80c0 17.7 14.3 32 32 32l80 0 0 288c0 8.8-7.2 16-16 16L64 464zM64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-293.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0L64 0zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24l144 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-144 0zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24l144 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-144 0z"/>
                </svg>
                <span class="text-gray-400 text-xs font-semibold">{{PDFName || 'No file uploaded'}}</span>
                <label for="PDFUpload" class="bg-[#FB9B50] text-white text-xs px-2 py-1 rounded hover:bg-[#f98125] transition duration-300 cursor-pointer font-semibold">
                  {{PDFName ? 'Change' : 'Upload'}}
                </label>
                <input id="PDFUpload" type="file" (change)="onPDFSelected($event)" accept=".pdf, .doc, .docx" class="hidden">
            </div>
        </div>

        <div class="absolute w-[300px] h-px top-[140px] bg-gray-100"></div> <!-- Separated Line -->
    </div>

    <div class="relative flex my-4 mx-6">
        <div class="flex gap-[225px]">
            <h3 class="font-bold">Skills</h3>
            <button (click)="showSkillsModal = true" class="border border-[#f98125] p-2 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 512 512" transform="matrix(1, 0, 0, 1, 0, 0)">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" fill="#f98125"/>
                </svg>
            </button>
                <div *ngIf="availableSkills && availableSkills.length">
                <ul>
                    <li *ngFor="let skill of availableSkills">{{ skill }}</li>
                </ul>
                </div>
        </div>
            <!-- Modal for Skill Selection -->
        <div *ngIf="showSkillsModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-lg font-bold mb-4">Select Skills</h3>
                <div *ngIf="availableSkills && availableSkills.length">
                    <div *ngFor="let skill of availableSkills">
                        <label>
                        <input type="checkbox" [checked]="selectedSkills.includes(skill)" (change)="toggleSkill(skill)">
                        {{ skill }}
                        </label>
                    </div>
                </div>
                <div class="flex gap-8">
                    <button (click)="saveSkills()" class="bg-[#f98125] text-white font-semibold hover:bg-[#fb9b50] px-4 py-2 rounded mt-4">Save</button>
                    <button (click)="showSkillsModal = false" class=" text-[#f98125] px-4 py-2 rounded mt-2">Cancel</button>
                </div>
            </div>
        </div>   
        
        <div class="absolute w-[300px] h-px top-[240px] bg-gray-100"></div> <!-- Separated Line -->        
    </div>

    <div class="relative flex mt-[226px] mb-4 mx-6">
        <div class="flex gap-[161px]">
            <h3 class="font-bold">Certifications</h3>
            <button (click)="openCertificationModal()" class="border border-[#f98125] p-2 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 512 512" transform="matrix(1, 0, 0, 1, 0, 0)">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" fill="#f98125"/>
                </svg>
            </button>

        </div>

        <!-- Certification Modal -->
        <div *ngIf="showCertificationModal" class="fixed inset-0 bg-black bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
            <div class="relative bg-white rounded-lg shadow-xl p-8 m-4 max-w-xl w-full">
              <h2 class="text-2xl font-bold mb-6 text-gray-800">Add Certification</h2>
              <form [formGroup]="certificationForm" (ngSubmit)="saveCertification()" class="space-y-4">
                <div>
                  <label for="name" class="text-gray-700 font-semibold">Certification Name</label>
                  <input id="name" formControlName="name" type="text" class="mt-1 p-2  w-full rounded-xl border border-gray-300">
                </div>
                <div>
                    <label for="textarea" class="text-gray-700 font-semibold">Description</label>
                    <textarea id="textarea" formControlName="textarea" rows="5" class="mt-1 p-2  w-full rounded-xl border border-gray-300"></textarea>
                </div>
                <div class="flex w-full space-x-8">
                    <div class="flex-1 ">
                        <label for="issueDate" class="font-semibold text-gray-700">Issue Date</label>
                        <input id="issueDate" formControlName="issueDate" type="date" class="mt-1 p-2 text-sm text-center w-full rounded-xl border border-gray-300">
                      </div>
                      <div class="flex-1">
                        <label for="expirationDate" class="font-semibold text-gray-700">Expiration Date (Optional)</label>
                        <input id="expirationDate" formControlName="expirationDate" type="date" class="mt-1 p-2 text-sm text-center w-full rounded-xl border border-gray-300">
                      </div>
                </div>
                <div>
                  <label for="file" class="font-semibold text-gray-700">Certificate PDF File</label>
                  <input id="file" type="file" (change)="onCertificationFileSelected($event)" accept=".pdf, .doc, .docx" class="mt-1 w-full text-sm text-gray-500
                    file:mr-4 file:py-2 file:px-4
                    file:rounded-full file:border-0
                    file:text-sm file:font-semibold
                    file:bg-orange-50 file:text-orange-500
                    hover:file:bg-orange-100">
                </div>
                <div class="flex justify-end space-x-4 mt-6">
                  <button type="button" (click)="closeCertificationModal()" class="px-4 py-2 text-[#f98125]">
                    Cancel
                  </button>
                  <button type="submit" class="px-4 py-2 bg-[#f98125] text-white rounded-full hover:bg-[#fb9f50]">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="absolute w-[300px] h-px top-[240px] bg-gray-100"></div> <!-- Separated Line --> 
    </div>

    <div>

        <div class="relative flex mt-[226px] mb-4 mx-6">
            <div class="flex gap-[105px]">
                <h3 class="font-bold">Employment History</h3>
                <button (click)="openEmploymentModal()" class="border border-[#f98125] p-2 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 512 512" transform="matrix(1, 0, 0, 1, 0, 0)">
                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" fill="#f98125"/>
                    </svg>
                </button>
    
            </div>
    
            <!-- Employment Modal -->
            <div *ngIf="showEmploymentModal" class="fixed inset-0 bg-black bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
                <div class="relative bg-white rounded-lg shadow-xl p-8 m-4 max-w-xl w-full">
                    <h2 class="text-2xl font-bold mb-6 text-gray-800">Add Employment</h2>
                    <form [formGroup]="employmentForm" (ngSubmit)="saveEmployment()" class="space-y-4">
                        <div>
                            <label for="name" class="text-gray-700 font-semibold">Workplace</label>
                            <input id="name" formControlName="name" type="text" class="mt-1 p-2  w-full rounded-xl border border-gray-300 ">
                        </div>
                        <div>
                            <label for="text" class="text-gray-700 font-semibold">City</label>
                            <select id="city" formControlName="city" class="mt-1 p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                                <option value="" class="text-sm">Select a city</option>
                                <option *ngFor="let city of cities" [value]="city.en" class="text-sm">{{ city.en }} - {{ city.ar }}</option>
                              </select>
                        </div>
                        <div class="flex w-full space-x-8">
                           <div class="flex-1">
                             <label for="startMonth" class="text-gray-700 font-semibold">Month</label>
                             <select id="startMonth" formControlName="startMonth" class="mt-1 p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                               <option value="" class="text-sm">Select a month</option>
                               <option *ngFor="let month of months" [value]="month.value" class="text-sm">{{ month.name }}</option>
                             </select>
                           </div>
                           <div class="flex-1">
                             <label for="startYear" class="text-gray-700 font-semibold">Year</label>
                             <select id="startYear" formControlName="startYear" class="mt-1 p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                               <option value="" class="text-sm">Select a year</option>
                               <option *ngFor="let year of years" [value]="year" class="text-sm">{{ year }}</option>
                             </select>
                           </div>
                        </div>
                   
                        <div *ngIf="!form.get('currentlyWorking')?.value" class="flex w-full space-x-8 mt-4">
                           <div class="flex-1">
                             <label for="endMonth" class="text-gray-700 font-semibold">To month</label>
                             <select id="endMonth" formControlName="endMonth" class="mt-1 p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                               <option value="" class="text-sm">Select a month</option>
                               <option *ngFor="let month of months" [value]="month.value" class="text-sm">{{ month.name }}</option>
                             </select>
                           </div>
                           <div class="flex-1">
                             <label for="endYear" class="text-gray-700 font-semibold">To year</label>
                             <select id="endYear" formControlName="endYear" class="mt-1 p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                               <option value="" class="text-sm">Select a year</option>
                               <option *ngFor="let year of years" [value]="year" class="text-sm">{{ year }}</option>
                             </select>
                           </div>
                        </div>
                   
                        <div class="flex space-x-4 mt-4">
                           <input type="checkbox" formControlName="currentlyWorking" class="w-5 h-5">
                           <label class="font-medium">I'm currently working here</label>
                        </div>

                        <div>
                           <label for="textarea" class="text-gray-700 font-semibold">Description (Optional)</label>
                           <textarea id="textarea" formControlName="textarea" rows="5" class="mt-1 p-2  w-full rounded-xl border border-gray-300"></textarea>
                        </div>


                        <div class="flex justify-end space-x-4 mt-6">
                            <button type="button" (click)="closeEmploymentModal()" class="px-4 py-2 text-[#f98125]">
                                Cancel
                            </button>
                            <button type="submit" class="px-4 py-2 bg-[#f98125] text-white rounded-full hover:bg-[#fb9f50]">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    
              <div class="absolute w-[300px] h-px top-[240px] bg-gray-100"></div> <!-- Separated Line --> 
        </div>

        <div class="relative flex mt-[226px] mb-52 mx-6">
         <div class="flex gap-[186px]">
             <h3 class="font-bold">Education</h3>
             <button (click)="openEducationModal()" class="border border-[#f98125] p-2 rounded-full">
                 <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 512 512" transform="matrix(1, 0, 0, 1, 0, 0)">
                     <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" fill="#f98125"/>
                 </svg>
             </button>
 
         </div>
 
         <!-- Education Modal -->
         <div *ngIf="showEducationModal" class="fixed inset-0 bg-black bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
             <div class="relative bg-white rounded-lg shadow-xl p-8 m-4 max-w-xl w-full">
                 <h2 class="text-2xl font-bold mb-6 text-gray-800">Add Education</h2>
                 <form [formGroup]="educationForm" (ngSubmit)="saveEducation()" class="space-y-4">
                     <div>
                         <label for="name" class="text-gray-700 font-semibold">School</label>
                         <input id="name" formControlName="name" type="text" class="mt-1 p-2  w-full rounded-xl border border-gray-300 placeholder:text-sm" placeholder="Ex: University of Constantine3 -Salah Boubnider-">
                     </div>
                     <div class="flex w-full space-x-8">
                        <div class="flex-1">
                           <label for="fromYear" class="text-gray-700 font-semibold">Dates Attended (Optional)</label>
                           <div class="flex space-x-4 mt-1">
                             <div class="flex-1">
                               <select id="fromYear" formControlName="fromYear" class="p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                                 <option value="" class="text-sm">From</option>
                                 <option *ngFor="let year of years" [value]="year" class="text-sm">{{ year }}</option>
                               </select>
                             </div>
                             <div class="flex-1">
                               <select id="toYear" formControlName="toYear" class="p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                                 <option value="" class="text-sm">To (or expected graduated year)</option>
                                 <option *ngFor="let year of years" [value]="year" class="text-sm">{{ year }}</option>
                               </select>
                             </div>
                           </div>
                         </div>
                     </div>

                     <div>
                        <label for="degree" class="text-gray-700 font-semibold">Degree (Optional)</label>
                        <select id="degree" formControlName="degree" class="mt-1 p-2 w-full rounded-xl text-sm border border-gray-300 bg-transparent">
                          <option value="" class="text-sm">Select a degree</option>
                          <option *ngFor="let degree of degrees" [value]="degree.id" class="text-sm">{{ degree.name }}</option>
                        </select>
                     </div>

                  <div>
                     <label for="text" class="text-gray-700 font-semibold">Area of Study (Optional) </label>
                     <input type="text" class="mt-1 p-2 w-full rounded-xl border border-gray-300 placeholder:text-sm" placeholder="Ex: Medicine">
                  </div>

                     <div>
                        <label for="textarea" class="text-gray-700 font-semibold">Description (Optional)</label>
                        <textarea id="textarea" formControlName="textarea" rows="5" class="mt-1 p-2  w-full rounded-xl border border-gray-300"></textarea>
                     </div>


                     <div class="flex justify-end space-x-4 mt-6">
                         <button type="button" (click)="closeEducationModal()" class="px-4 py-2 text-[#f98125]">
                             Cancel
                         </button>
                         <button type="submit" class="px-4 py-2 bg-[#f98125] text-white rounded-full hover:bg-[#fb9f50]">
                             Save
                         </button>
                     </div>
                 </form>
             </div>
         </div>
      </div>
  </div>

   </div>


</div>

    


