/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Niconne&family=Quicksand:wght@300..700&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Niconne&family=Quicksand:wght@300..700&family=Reenie+Beanie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color: #ffa500;
    border-color: #ffa500;
}

.hero-section .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1s linear;    
}


.hero-section:hover .path {
    stroke-dashoffset: 0;
}

/* Hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .hide-scrollbar {
    scrollbar-width: none;
  }

  /* Hide scrollbar for Internet Explorer and Edge */
  .hide-scrollbar {
    -ms-overflow-style: none;
  }

  .custom-button {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
  }

  .text-shadow-custom {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    -webkit-text-fill-color: #F98125; 
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
      8px 8px 0 #F98125,
      20px 20px 0 #11224D;
  }

  