<app-header></app-header>
<main>

<div class="flex justify-center items-center text-center flex-col">
  <h1 class="pt-[200px] text-5xl font-bold" style="font-family: 'Quicksand', sans-serif">
    Empowering Education Through <br> Eshoola's Innovative Platform
  </h1>
  <p class="pt-6">
    Join Eshoola today and experience a seamless connection between teachers and <br> students, enabling effective learning from anywhere.
  </p>
</div>

<div class="relative flex items-center justify-center pt-[49px]">
  <div class="search-box flex items-center w-full max-w-md">
      <input type="text" placeholder="Search Courses" class="border-none outline-none bg-none text-white text-lg px-4 leading-10 flex-1" />
      <a href="#" class="icon flex justify-center items-center">
          <span class="text-[#faa500] font-bold text-lg">Search Courses</span>
      </a>
  </div>
</div>









  <router-outlet></router-outlet>
</main>